@import '../../../sass/variables';

.album {
	width: 100%;
	min-height: 144px;
	margin-top: 40px;
	background-color: rgb(248, 255, 255);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	.main-panel {
		display: flex;
		max-height: 144px;
		position: relative;
		padding: 20px 40px 20px 20px;

		.img-wrapper {
			.album-photo {
				max-width: 100px;
				height: auto;	
			}
		}
	
		.primary-info {
			padding-left: 20px;

			.album-title {
				font-size: 20px;
				padding-bottom: 5px;
			}

			.album-artist {
				font-size: 18px;
			}
		}
	
		.expand-button {
			background: none;
			border: none;
			font-size: 30px;
			color: $dark-grey;
			position: absolute;
			bottom: 20px;
			right: 20px;
			transition: all .4s;
			outline: none;
			cursor: pointer;
	
			&:hover, &:active {
				color: $light-purple;
			}
		}
	
		.expand-button.panel-open {
			transform: rotate(-180deg);
		}
	}

	.expansion-panel {
		background-color: rgb(248, 255, 255);
		padding: 0 20px;
		box-sizing: content-box;
		overflow: hidden;
		max-height: 0;
		transition: max-height .4s;

		.grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
	
			> * {
				font-size: 18px;
				padding: 3px 0;

				@media screen and (max-width: $small-device) {
					font-size: 16px;
				}
	
				&:nth-child(even) {
					justify-self: right;
				}
			}
		}
	
		.album-link {
			margin: 10px 0;
			padding: 10px 0 10px 0; 
			display: block;
			text-align: center;
			font-size: 18px;
			font-weight: 600;
			transition: color .2s ease-out;
	
			&:link, &:visited {
				color: $dark-grey;
			}
	
			&:hover, &:active {
				color: $light-purple;
			}
		}
	}

	.expansion-panel.panel-open {
		max-height: 150px;
	}
}