@import '../../../../sass/variables';

.filter-wrapper {
	position: relative;

	input {
		width: 300px;
		font-size: 18px;
		padding: 6px;
		padding-right: 30px;

		@media screen and (max-width: $small-device) {
			width: 220px;
			font-size: 16px;
		}
	}

	.clear-filter-button {
		background-color: none;
		font-size: 18px;
		color: $dark-grey;
		position: absolute;
		right: 10px;
		top: 25%;
		cursor: pointer;
		transition: color .4s;

		&:hover, &:active {
			color: $light-purple;
		}
	}
}